.Wrap {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.List {
  margin-left: 40px;
  list-style-type: none;
}